1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.

	•	Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
    
	•	Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
    
	•	Исключим стоп-слова с помощью stop_words='english'.
    
	•	Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [52]:
import pandas as pd
import numpy as np

import nltk

import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

import os

In [53]:
import pickle

with open('combine_df.pkl', 'rb') as f:
    combine_df = pickle.load(f)
    
combine_df.head(3)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"

In [54]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

count_vectorizer = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [55]:
tweet_stemmed = combine_df['tweet_stemmed'].apply(lambda x: ' '.join(x))

In [56]:
bow_stemmed_tweet = count_vectorizer.fit_transform(tweet_stemmed)

In [57]:
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bow_stemmed_tweet.toarray(), columns = feature_names).head(3)

/Users/Olga/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,year,yesterday,yo,yoga,york,young,youth,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
tweet_lemmatized = combine_df['tweet_lemmatized'].apply(lambda x: ' '.join(x))

In [59]:
bow_lemmatized_tweet = count_vectorizer.fit_transform(tweet_lemmatized)

In [60]:
pd.DataFrame(bow_lemmatized_tweet.toarray(), columns = feature_names).head(3)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,year,yesterday,yo,yoga,york,young,youth,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.

	•	Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
    
	•	Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
    
	•	Исключим стоп-слова с помощью stop_words='english'.
    
	•	Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [61]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [62]:
bow_tfidf_tweet_stemmed = tfidf_vectorizer.fit_transform(tweet_stemmed)
tfidf_feature_names = tfidf_vectorizer.get_feature_names()
pd.DataFrame(bow_tfidf_tweet_stemmed.toarray(), columns = tfidf_feature_names).head(3)

/Users/Olga/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,year,yesterday,yo,yoga,york,young,youth,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
bow_tfidf_tweet_lemmatized = tfidf_vectorizer.fit_transform(tweet_lemmatized)
pd.DataFrame(bow_tfidf_tweet_lemmatized.toarray(), columns = tfidf_feature_names).head(3)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,year,yesterday,yo,yoga,york,young,youth,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

3. Натренируем gensim.models.Word2Vec модель на наших данных.

	•	Тренировать будем на токенизированных твитах combine_df['tweet_token']
    
	•	Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
    
	•	Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [64]:
!pip install Word2Vec

Requirement already satisfied: Word2Vec in /Users/Olga/opt/anaconda3/lib/python3.9/site-packages (0.11.1)
Requirement already satisfied: joblib in /Users/Olga/opt/anaconda3/lib/python3.9/site-packages (from Word2Vec) (1.1.0)
Requirement already satisfied: numpy>=1.9.2 in /Users/Olga/opt/anaconda3/lib/python3.9/site-packages (from Word2Vec) (1.19.5)
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/Users/Olga/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [65]:
from gensim.models import Word2Vec
from gensim.test.utils import common_texts

data_tweet_token = combine_df['tweet_token'].tolist()

In [68]:
model_w2v = Word2Vec(data_tweet_token, vector_size=200, window=5, min_count=2, sg=1, hs=0, negative=10, seed=34)

model_w2v.train(data_tweet_token, total_examples=len(data_tweet_token), epochs=20)

(8989046, 11616500)

4. Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar. То же самое попробуем со словом "trump".

In [75]:
model_w2v.wv.most_similar(positive=['dinner'])

[('bolognese', 0.543958842754364),
 ('bihdaydinner', 0.5348308086395264),
 ('cookout', 0.5301646590232849),
 ('spaghetti', 0.5297001004219055),
 ('lastnight', 0.5202850699424744),
 ('burritos', 0.5127542018890381),
 ('hamburger', 0.5086919069290161),
 ('tacotuesday', 0.5061419010162354),
 ('tummys', 0.5038057565689087),
 ('shawarma', 0.5026416778564453)]

In [76]:
model_w2v.wv.most_similar(positive=['trump'])

[('donald', 0.5652064085006714),
 ('suppoer', 0.5310891270637512),
 ('dumptrump', 0.5072934031486511),
 ('melo', 0.506415605545044),
 ('unfit', 0.5052813291549683),
 ('potus', 0.5034103393554688),
 ('cuck', 0.5002031922340393),
 ('fuhered', 0.49987703561782837),
 ('conman', 0.49885204434394836),
 ('unfavorability', 0.4971436858177185)]

5. Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).

In [79]:
model_w2v.wv['food']

array([ 4.53921765e-01, -1.50882328e+00,  1.23223193e-01,  2.03804940e-01,
       -2.02758014e-01,  3.20326537e-01,  1.28303230e-01, -4.08637375e-02,
       -1.40873445e-02, -1.26715809e-01, -2.39821017e-01, -4.68562663e-01,
       -8.55437398e-01,  4.19450223e-01, -4.84234571e-01,  7.06048787e-01,
        5.31541944e-01,  5.29132783e-01,  9.32122409e-01, -5.00904858e-01,
       -2.01845244e-01,  2.33033478e-01, -5.18460035e-01,  3.41544211e-01,
       -3.46907020e-01,  2.36726984e-01, -3.88577700e-01, -2.14445293e-01,
        1.31052300e-01,  4.35426444e-01,  4.49210346e-01, -1.36421397e-01,
       -6.21884227e-01,  2.56906480e-01, -3.58356088e-01,  1.54572353e-01,
        2.48437479e-01, -5.00212073e-01,  1.77097976e-01,  4.90734011e-01,
        9.22248065e-01,  3.93360257e-01, -1.00136886e-03,  5.64731240e-01,
       -5.48365176e-01,  4.46165174e-01,  3.99055511e-01, -3.18298519e-01,
       -6.59377933e-01, -7.08211362e-02, -9.05507356e-02,  1.44647509e-01,
        6.81352377e-01, -2.43234605e-01,  5.91738410e-02,  1.75104454e-01,
        4.63499606e-01, -2.38131970e-01, -1.93504155e-01, -5.09023190e-01,
       -6.17357373e-01, -2.38679022e-01, -3.32826898e-02, -3.16281766e-01,
        4.93904859e-01,  3.47820938e-01, -1.86073244e-01,  9.70448554e-02,
       -7.09059760e-02, -6.56424046e-01,  1.79131880e-01, -2.33961523e-01,
        1.04595497e-01,  8.87515321e-02,  1.41847804e-01, -1.05135632e+00,
       -6.83070004e-01,  6.13620505e-02, -1.59875676e-01,  2.60639358e-02,
       -3.22823256e-01, -7.81593174e-02, -1.96961850e-01,  1.04089931e-01,
        4.64023978e-01,  2.99236804e-01, -8.03258196e-02, -9.03498381e-02,
       -3.11827689e-01,  2.55141288e-01, -2.11763129e-01,  3.60266119e-01,
       -3.76391977e-01,  5.59213459e-01,  7.95900598e-02, -4.06667769e-01,
       -5.94771683e-01,  7.98809826e-01,  6.64072454e-01,  5.43868482e-01,
        6.18314683e-01, -7.33755708e-01,  3.57215852e-02, -5.30806959e-01,
       -2.18823835e-01,  1.96123645e-01,  2.33011112e-01, -6.57134473e-01,
       -9.11405236e-02, -4.97877210e-01,  2.39005938e-01, -7.50545561e-01,
       -8.27648640e-02, -4.45997626e-01,  6.67330861e-01, -7.05043152e-02,
       -2.61305124e-01,  8.92798424e-01,  5.03440797e-01,  6.14396274e-01,
        4.30527806e-01,  6.32079840e-02, -8.90745446e-02,  2.62493402e-01,
       -3.19827385e-02,  2.27799313e-03, -1.20420083e-01,  5.95448501e-02,
       -1.04527555e-01,  4.04254019e-01, -1.68637231e-01, -6.84325159e-01,
        2.86786526e-01,  5.80232561e-01, -9.50586870e-02,  2.47257531e-01,
       -3.23647112e-01, -1.06581002e-01,  1.65191829e-01,  2.71287024e-01,
        3.14103186e-01,  3.12602639e-01,  5.77097118e-01,  1.19385147e+00,
       -3.95733118e-02, -1.78794220e-01,  2.42534190e-01, -6.24276400e-01,
        7.08889812e-02,  8.41110349e-02,  6.41956806e-01, -5.56001127e-01,
       -7.59087861e-01,  5.77377342e-02, -4.11112100e-01, -1.06143010e+00,
       -1.13914847e-01, -4.71892536e-01,  1.03521037e+00,  5.61630011e-01,
        3.81893069e-01,  1.13205008e-01,  1.10162783e+00,  6.59321202e-03,
       -1.35078147e-01,  1.15291653e-02, -1.55254290e-01,  2.92403042e-01,
       -3.79534721e-01, -5.97039938e-01,  2.55405337e-01,  3.22344571e-01,
        6.97462499e-01, -4.10749644e-01, -9.13182795e-01, -2.03526691e-01,
        1.82858169e-01, -3.55444789e-01, -7.80672371e-01,  1.51241884e-01,
       -4.87850964e-01,  1.30404547e-01,  3.48208606e-01, -1.84718892e-01,
        5.51530182e-01,  5.31516969e-01, -1.03395201e-01, -3.11955847e-02,
        2.27950811e-01, -1.38491318e-01,  4.38861817e-01, -6.72755539e-02,
        5.40125072e-02,  4.87752378e-01, -4.77231166e-04,  3.46979022e-01,
        7.09723011e-02, -5.24790227e-01,  4.17136997e-01, -1.41683921e-01],
      dtype=float32)

6. Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.
Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.
На выходе должен получиться wordvec_df.shape = (49159, 200).

In [82]:
def tweets2vec(tweets_list, size=200):
    n_words = len(tweets_list)
    vec = np.zeros((1, size))
    if n_words == 0:
        return vec
    for word in tweets_list:
        try:
            vec += model_w2v.wv[word].reshape((1, size))
        except KeyError:
            continue
    return vec / n_words

In [83]:
wordvec_df = combine_df['tweet_token'].apply(tweets2vec)
wordvec_df = np.concatenate(wordvec_df)

In [84]:
wordvec_df.shape

(49159, 200)

In [85]:
with open('wordvec_df.pkl', 'wb') as f:
    pickle.dump(wordvec_df, f)